Source: teensy-loader-cli
Section: electronics
Priority: extra
Maintainer: Jaakko Kantojärvi <jaakko@n-1.fi>
Build-Depends: debhelper (>= 8.0.0), libusb-dev
Standards-Version: 3.9.4
Homepage: http://www.pjrc.com/teensy/loader_cli.html
Vcs-Git: git://github.com/raphendyr/teensy-loader-cli.git
Vcs-Browser: http://github.com/raphendyr/teensy-loader-cli

Package: teensy-loader-cli
Architecture: any
Depends: teensy-common, ${shlibs:Depends}, ${misc:Depends}, libusb-1.0-0
Description: Tool for uploading AVR program over HalfKay protocol
 Teensy is product from http://www.pjrc.com/teensy/
 .
 The Teensy Loader program communicates with your Teensy board
 when the HalfKay bootloader is running, so you can download
 new programs and run them.
 .
 This package contains the command line version.
